/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Roboto', Arial, sans-serif; */
  /* font-family: 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: Manrope ExtraLight, sans-serif;
  background-color: #fefefe;
  line-height: 1.6;
  color: #333;
}

/* Header */
header {
  background-color: #fefefe;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: auto;
  height: 48px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  font-weight: 700;
  color: #35663d;
  margin: 0;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  font-size: 16px;
  font-weight: 500;
  color: #35663d;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 600;
}

.menu a:hover {
  color: #d23e29;
}

.contact-icons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.contact-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #35663d;
  color: #fefefe;
  margin-left: 10px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-icons a:hover {
  background-color: #d23e29;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    margin-top: 20px;
  }

  .menu li {
    margin-bottom: 10px;
  }
}

/* Hero section */
.hero {
  background-image: url("assets/hero2.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.hero h1 {
  color: #d23e29;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #fefefe;
}

.hero p {
  color: #fefefe;
  font-size: 20px;
  font-weight: 300;  
  text-shadow: 2px 2px 4px #000000;
}

/* About section */
.about-section {
  padding: 50px;
  /* text-align: center; */
  background-color: #d23e29;
  color: #fefefe;
}

.about-section .container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  /* align-items: center; */
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}

/* .image-wrapper {
  flex: 1;
  margin-right: 20px;
  height: 400px;
  width: 400px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.about-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #fefefe;
  border-radius: 16px;
  transform: rotate(-1deg);
}

.text-container {
  flex: 1;
  margin-left: 20px;
  transform: rotate(-1deg);
}

.about-section h2 {
  font-size: 48px;
  font-weight: 500;
  /* color: #d23e29; */
  margin-bottom: 20px;
}

.about-section p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}

/* Services section */
.services-section {
  padding: 50px 0;
  text-align: center;
}

.services-section h2 {
  font-size: 32px;
  color: #d23e29;
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 30px;
}

.services-list li {
  width: calc(33.33% - 20px);
  max-width: 300px;
  height: 365px;
  padding: 20px;
  margin: 10px;
  background-color: #fefefe;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.services-list li:hover .description p {
  opacity: 1;
  /* transform: translateY(-100%); */
}

.services-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
}

.services-list li .description p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #000000b3;
  color: #fff;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 0 0 16px 16px;
}

.services-list li .description h3 {
  margin-top: 0;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  left: 10px;
  bottom: 10px;
  /* transform: translate(-50%, -50%); */
  color: #fff;
  opacity: 1;
  /* transition: opacity 0.3s ease; */
}



@media screen and (max-width: 1024px) {
  .services-list li {
    width: calc(50% - 20px);
  }
  
  .about-section .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .services-list li {
    width: 100%;
  }
}

/* Benefits section */
.benefits-section {
  padding: 50px 0;
  text-align: center;
}

.benefits-section h2 {
  font-size: 32px;
  color: #d23e29;
  margin-bottom: 20px;
}

.benefits-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 30px;
}

.benefits-list li {
  width: 300px;
  padding: 20px;
  margin: 10px;
  background-color: #fefefe;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.benefits-list li:hover {
  transform: translateY(-5px);
}

.benefits-list li i {
  font-size: 24px;
  margin-right: 10px;
}

/* Gallery Section  */
.gallery-section {
  padding: 50px 0;
  text-align: center;
}

.gallery-section h2 {
  font-size: 32px;
  color: #d23e29;
  margin-bottom: 20px;
}

.gallery-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 30px;
}

.gallery-list .li {
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-list .li:hover {
  transform: translateY(-5px);
}

.gallery-list .li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-list .li:hover img {
  transform: scale(1.1);
}



@media screen and (max-width: 768px) {
  .gallery-list .li {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .gallery-list .li {
    width: calc(100% - 20px);
  }
}

/* Contact section */
.contact-section {
  padding: 50px 0;
  text-align: center;
}

.contact-section h2 {
  font-size: 32px;
  color: #d23e29;
  margin-bottom: 20px;
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 16px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  height: 120px;
}

.contact-form button {
  background-color: #d23e29;
  color: #fefefe;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #35663d;
}

/* Footer */
footer {
  background-color: #35663d;
  color: #fefefe;
  padding: 20px;
  text-align: center;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

footer p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px 0;
}

footer a {
  color: #fefefe;
  text-decoration: none;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: #fefefe;
  color: #35663d;
  font-size: 18px;
  line-height: 18px;
  padding-top: 6px;
  text-align: center;
  transition: all 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2);
}

.fa-heart {
  color: #e74c3c;
  margin: 0 5px;
}

.shimon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  line-height: 25px;
}

.shimon img {
  border-radius: 50%;
  margin: 0 5px;
  display: block;

}